body {font-family: 'Poppins', sans-serif;
margin:0px;}
h1{font-size: 65px;}
.blue-color {color:#0072fa;}
.flexiable{display:flex;
margin-bottom:85px;}
.width{
    width: 50%;
    padding-left: 10%;
}
.width img{width: 80%;}
.button{
    text-decoration: none;
    background-image:linear-gradient(#0072fa,#034da7);
    padding: 10px 30px;
    border-radius:6px;
    color:white;
    font-weight: 500;
}
.section-bannar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position:right ;
}